.open {
    background-color: #fbedcd;
    height: 100%;
    width: 350px;
    float: left;
    position:fixed;
}

.closed {
    background-color: #fbedcd;
    height: 100%;
    width: 70px;
    float: left;
    position:fixed;
}

#sidebar-nav {
    width: 80px;
    cursor: pointer;
}

#sidebar-icon {
    text-align: center;
}