.subNavBar {
    text-align: center;
}

/* //following css lines were taken from w3resources 
for a button underline animation */
 .hover-underline-animation {
   display: inline-block;
   position: relative;
   cursor: pointer;
   background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    margin: 5px;
 }
 
 .hover-underline-animation:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background-color: 
 #0087ca;
   transform-origin: bottom right;
   transition: transform 0.25s ease-out;
 }
 
 .hover-underline-animation:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;
 }

button:focus {
    border-bottom: 2px #0087ca;
 }

 button:active {
    border-bottom: #0087ca;
 }